/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


* {
    margin: 0; /** Reseta a configuração de margem **/
    padding: 0; /** Reseta a configuração de preenchimento **/
    box-sizing: border-box; /** As medidas partem a partir da borda do navegador **/
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex; /** Deixa uma coluna ao lado da outra **/
    justify-content: center; /** Centraliza os elementos horizontalmente **/
    align-items: center; /** Centraliza os elementos verticalmente (depende do tamanho do height) **/
    height: 100vh; /** É o 100% da viewport (página inteira) **/
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between; /** Deixa um espaço justificado entre as colunas **/
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #0066cc;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    /**text-transform: capitalize;**/ /** Deixa todas as palavras com a primeira letra maiúscula**/
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #0066cc;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #0066cc;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #0066cc;
}

.btn-second {
    background-color: #0066cc;
    border: 1px solid #0066cc;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #0066cc;
    color: #0066cc;
}

.first-content {
    display: flex;
    position: relative;
}

.first-column {
    text-align: center;
    flex: 1 0 auto; /** 1: flex-grow; 2: flex-shrink; 3: flex-basis (estudar esses métodos) **/
    z-index: 10;
}

.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1em 0;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6
}

.link-social-media:not(:first-child){
    margin-left: 10px;
}

.link-social-media:hover .item-social-media {
    background-color: #0066cc;
    color: #fff;
    border-color: #0066cc;
}

.form {
    display: flex;
    flex-direction: column; /** Mantem os elementos do formulário um abaixo do outro **/
    width: 55%;
    margin: 8px;
}

.form input {
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.second-content {
    position: absolute;
    display: none; /** Apenas esse conteúdo ficará visível **/

}